.services_img {
    max-width: 80px;
    margin-bottom: 1.25rem;
}

.services_container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;

}

.services_card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
    box-shadow: var(--shadow);
}

.services_card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow2);
    border: var(--border);
}

.services_title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .services_container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .services_container {
        grid-template-columns: 310px;

    }
}